
/* css样式重置 */

    /*解决chrome浏览器下字体不能小于12px*/
    html{-webkit-text-size-adjust:none;}
    body{overflow-x: hidden; font-size:12px; color:#000000; font-family:"微软雅黑";}
    article, aside, details,figcaption, figure,footer,header,main,menu,nav,section,summary {display: block;}
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0;padding:0;}

    /* outline:none,防止a包裹img时的虚线框,针对火狐等浏览,但IE不行 */
    a{outline:none;text-decoration:none;}
    /*a:hover{ text-decoration:underline;}*/
    /* 解决IE6，IE7中的虚线框。 */
    /* a:active{noOutline:expression(this.onFocus=this.blur());} */

    html{zoom:1;}html *{outline:0;zoom:1;}
    html button::-moz-focus-inner{border-color:transparent!important;}
    button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0; outline:none;}

    table{border-collapse:collapse;border-spacing:0;}

    fieldset,a img{border:0;}
    address,caption,cite,code,dfn,em,th,var，i{font-style:normal;font-weight:normal;}
    ul,ol,li{list-style:none;}
    caption,th{text-align:left;}

    h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

    input[type="submit"],input[type="reset"],input[type="button"],input[type=date],button,select{
        appearance:none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari 和 Chrome */
        /*去掉苹果的默认UI来渲染按钮 、解决部分手机浏览器对border：none无效办法*/
    }


    /*清除浮动*/
    /*IE8以上和非IE浏览器才支持:after，原理和方法2有点类似，zoom(IE转有属性)可解决ie6,ie7浮动问题*/
    .clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
　  .clearfix{zoom:1}

    .clear{clear:both;height:0;line-height:0;font-size:0;}

    /* 不换行 */
    .nowrap{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
    /* 垂直居中 */
    .vertical{height:100%;width:0;vertical-align:middle;display:inline-block;}

    .left{float:left;}
    .right{float:right;}

